In [15]:
import requests

url = 'https://download.bls.gov/pub/time.series/ap/ap.series'
r = requests.get(url)
text_file = open("ap_series.txt", "w")
text_file.write(r.text)
text_file.close()

In [8]:
import pandas as pd

household_df = pd.read_table('ap_data_1_householdfuels.txt', index_col=0, sep='\s+')

In [9]:
household_df.head()

              year period  value  footnote_codes
series_id
APU000072511  1978    M11  0.533             NaN
APU000072511  1978    M12  0.545             NaN
APU000072511  1979    M01  0.555             NaN
APU000072511  1979    M02  0.577             NaN
APU000072511  1979    M03  0.605             NaN

In [74]:
import pandas as pd

datazero_df = pd.read_table('ap_data_0_current.txt')

datazero_df.head()
datazero_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183895 entries, 0 to 183894
Data columns (total 5 columns):
series_id            183895 non-null object
year                 183895 non-null int64
period               183895 non-null object
       value         183895 non-null object
footnote_codes       0 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 7.0+ MB

In [68]:
#datazero_df.rename({'series_id        ':'series_id'}, axis=1, inplace=True)
list(datazero_df.columns)
datazero_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 183895 entries, APU0000701111 to APUS49G7471A
Data columns (total 4 columns):
year              183895 non-null int64
period            183895 non-null object
value             183895 non-null object
footnote_codes    0 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 7.0+ MB

In [78]:
list(datazero_df.columns)

['series_id        ', 'year', 'period', '       value', 'footnote_codes']

In [81]:
datazero_df.rename(columns = {'       value':'value'}, inplace = True)
list(datazero_df.columns)

['series_id', 'year', 'period', 'value', 'footnote_codes']

In [14]:
import pandas as pd

items_df = pd.read_table('ap_items.txt', index_col=0)

items_df.head()

                                                   item_name
item_code
701111         Flour, white, all purpose, per lb. (453.6 gm)
701311     Rice, white, long grain, precooked (cost per p...
701312     Rice, white, long grain, uncooked, per lb. (45...
701321                Spaghetti (cost per pound/453.6 grams)
701322            Spaghetti and macaroni, per lb. (453.6 gm)

In [75]:
import pandas as pd

series_df = pd.read_table('ap_series.txt')

series_df.head()
series_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1481 entries, 0 to 1480
Data columns (total 9 columns):
series_id            1481 non-null object
area_code            1481 non-null object
item_code            1481 non-null object
series_title         1481 non-null object
footnote_codes       0 non-null float64
begin_year           1481 non-null int64
begin_period         1481 non-null object
end_year             1481 non-null int64
end_period           1481 non-null object
dtypes: float64(1), int64(2), object(6)
memory usage: 104.3+ KB

In [77]:
series_df.rename(columns = {'series_id        ':'series_id'}, inplace = True)
list(series_df.columns)

['series_id',
 'area_code',
 'item_code',
 'series_title',
 'footnote_codes',
 'begin_year',
 'begin_period',
 'end_year',
 'end_period']

In [17]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///bls_avgcostdata.db', echo=True)
sqlite_connection = engine.connect()

2021-10-03 18:44:51,132 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-10-03 18:44:51,132 INFO sqlalchemy.engine.base.Engine ()
2021-10-03 18:44:51,140 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-10-03 18:44:51,140 INFO sqlalchemy.engine.base.Engine ()

In [83]:
sqlite_table = "Current_Data_Zero"
datazero_df.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

2021-10-03 19:55:09,258 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Current_Data_Zero")

INFO:sqlalchemy.engine.base.Engine:PRAGMA main.table_info("Current_Data_Zero")

2021-10-03 19:55:09,258 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,273 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Current_Data_Zero")

INFO:sqlalchemy.engine.base.Engine:PRAGMA main.table_info("Current_Data_Zero")

2021-10-03 19:55:09,273 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,281 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2021-10-03 19:55:09,281 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,289 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Current_Data_Zero")

INFO:sqlalchemy.engine.base.Engine:PRAGMA main.table_info("Current_Data_Zero")

2021-10-03 19:55:09,289 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,297 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Current_Data_Zero' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Current_Data_Zero' AND type = 'table'

2021-10-03 19:55:09,297 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,305 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("Current_Data_Zero")

INFO:sqlalchemy.engine.base.Engine:PRAGMA main.foreign_key_list("Current_Data_Zero")

2021-10-03 19:55:09,305 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,313 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("Current_Data_Zero")

INFO:sqlalchemy.engine.base.Engine:PRAGMA temp.foreign_key_list("Current_Data_Zero")

2021-10-03 19:55:09,313 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,321 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Current_Data_Zero' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Current_Data_Zero' AND type = 'table'

2021-10-03 19:55:09,321 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,329 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Current_Data_Zero")

INFO:sqlalchemy.engine.base.Engine:PRAGMA main.index_list("Current_Data_Zero")

2021-10-03 19:55:09,329 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,337 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Current_Data_Zero_series_id")

INFO:sqlalchemy.engine.base.Engine:PRAGMA main.index_info("ix_Current_Data_Zero_series_id")

2021-10-03 19:55:09,337 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,345 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("Current_Data_Zero")

INFO:sqlalchemy.engine.base.Engine:PRAGMA main.index_list("Current_Data_Zero")

2021-10-03 19:55:09,345 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,345 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_Current_Data_Zero_series_id")

INFO:sqlalchemy.engine.base.Engine:PRAGMA main.index_info("ix_Current_Data_Zero_series_id")

2021-10-03 19:55:09,353 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,353 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Current_Data_Zero' AND type = 'table'

INFO:sqlalchemy.engine.base.Engine:SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Current_Data_Zero' AND type = 'table'

2021-10-03 19:55:09,361 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,361 INFO sqlalchemy.engine.base.Engine
DROP TABLE "Current_Data_Zero"

INFO:sqlalchemy.engine.base.Engine:
DROP TABLE "Current_Data_Zero"

2021-10-03 19:55:09,361 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,474 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2021-10-03 19:55:09,474 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Current_Data_Zero" (
	"index" BIGINT,
	series_id TEXT,
	year BIGINT,
	period TEXT,
	value TEXT,
	footnote_codes FLOAT
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE "Current_Data_Zero" (
	"index" BIGINT,
	series_id TEXT,
	year BIGINT,
	period TEXT,
	value TEXT,
	footnote_codes FLOAT
)

2021-10-03 19:55:09,482 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,506 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2021-10-03 19:55:09,506 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Current_Data_Zero_index" ON "Current_Data_Zero" ("index")

INFO:sqlalchemy.engine.base.Engine:CREATE INDEX "ix_Current_Data_Zero_index" ON "Current_Data_Zero" ("index")

2021-10-03 19:55:09,514 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2021-10-03 19:55:09,530 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2021-10-03 19:55:09,618 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2021-10-03 19:55:11,940 INFO sqlalchemy.engine.base.Engine INSERT INTO "Current_Data_Zero" ("index", series_id, year, period, value, footnote_codes) VALUES (?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO "Current_Data_Zero" ("index", series_id, year, period, value, footnote_codes) VALUES (?, ?, ?, ?, ?, ?)

2021-10-03 19:55:11,951 INFO sqlalchemy.engine.base.Engine ((0, 'APU0000701111    ', 1995, 'M01', '       0.238', None), (1, 'APU0000701111    ', 1995, 'M02', '       0.242', None), (2, 'APU0000701111    ', 1995, 'M03', '       0.242', None), (3, 'APU0000701111    ', 1995, 'M04', '       0.236', None), (4, 'APU0000701111    ', 1995, 'M05', '       0.244', None), (5, 'APU0000701111    ', 1995, 'M06', '       0.244', None), (6, 'APU0000701111    ', 1995, 'M07', '       0.248', None), (7, 'APU0000701111    ', 1995, 'M08', '       0.255', None)  ... displaying 10 of 183895 total bound parameter sets ...  (183893, 'APUS49G7471A     ', 2021, 'M07', '       3.651', None), (183894, 'APUS49G7471A     ', 2021, 'M08', '       3.737', None))

INFO:sqlalchemy.engine.base.Engine:((0, 'APU0000701111    ', 1995, 'M01', '       0.238', None), (1, 'APU0000701111    ', 1995, 'M02', '       0.242', None), (2, 'APU0000701111    ', 1995, 'M03', '       0.242', None), (3, 'APU0000701111    ', 1995, 'M04', '       0.236', None), (4, 'APU0000701111    ', 1995, 'M05', '       0.244', None), (5, 'APU0000701111    ', 1995, 'M06', '       0.244', None), (6, 'APU0000701111    ', 1995, 'M07', '       0.248', None), (7, 'APU0000701111    ', 1995, 'M08', '       0.255', None)  ... displaying 10 of 183895 total bound parameter sets ...  (183893, 'APUS49G7471A     ', 2021, 'M07', '       3.651', None), (183894, 'APUS49G7471A     ', 2021, 'M08', '       3.737', None))

2021-10-03 19:55:14,190 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

2021-10-03 19:55:14,281 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

INFO:sqlalchemy.engine.base.Engine:SELECT name FROM sqlite_master WHERE type='table' ORDER BY name

2021-10-03 19:55:14,289 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [24]:
sqlite_table = "Items_Data"
items_df.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2021-10-03 18:52:57,802 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("Items_Data")
2021-10-03 18:52:57,802 INFO sqlalchemy.engine.base.Engine ()
2021-10-03 18:52:57,810 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("Items_Data")
2021-10-03 18:52:57,812 INFO sqlalchemy.engine.base.Engine ()
2021-10-03 18:52:57,815 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Items_Data" (
	item_code TEXT,
	item_name TEXT
)


2021-10-03 18:52:57,816 INFO sqlalchemy.engine.base.Engine ()
2021-10-03 18:52:57,855 INFO sqlalchemy.engine.base.Engine COMMIT
2021-10-03 18:52:57,855 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_Items_Data_item_code" ON "Items_Data" (item_code)
2021-10-03 18:52:57,863 INFO sqlalchemy.engine.base.Engine ()
2021-10-03 18:52:57,871 INFO sqlalchemy.engine.base.Engine COMMIT
2021-10-03 18:52:57,879 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-10-03 18:52:57,879 INFO sqlalchemy.engine.base.Engine INSERT INTO "Items_Data" (item_code, item_name) VALUES (?, ?)
2021-10-03 18:52:57,887 INFO sqlalchemy.engine.base.Engine (('701111', 'Flour, white, all purpose, per lb. (453.6 gm)'), ('701311', 'Rice, white, long grain, precooked (cost per pound/453.6 grams)'), ('701312', 'Rice, white, long grain, uncooked, per lb. (453.6 gm)'), ('701321', 'Spaghetti (cost per pound/453.6 grams)'), ('701322', 'Spaghetti and macaroni, per lb. (453.6 gm)'), ('702111', 'Bread, white, pan, per lb. (453.6 gm)'), ('702112', 'Bread, French, per lb. (453.6 gm)'), ('702211', 'Bread, rye, pan (cost per pound/453.6 grams)')  ... displaying 10 of 160 total bound parameter sets ...  ('FN1102', 'All soft drinks, 12 pk, 12 oz., cans, per 12 oz. (354.9 ml)'), ('FS1101', 'Butter, stick, per lb. (453.6 gm)'))
2021-10-03 18:52:57,895 INFO sqlalchemy.engine.base.Engine COMMIT
2021-10-03 18:52:57,911 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-10-03 18:52:57,911 INFO sqlalchemy.engine.base.Engine ()

AttributeError: 'Connection' object has no attribute 'commit'

In [25]:
import sqlite3


conn = sqlite3.connect(r'C:\Users\austi\bls_avgcostdata.db')

conn.commit()

In [58]:
table = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
print(table)

                name
0     Household_Data
1         Items_Data
2  Current_Data_Zero
3        Series_Data

In [59]:
table = pd.read_sql_query("SELECT * FROM Series_Data", conn)
table.head(10)
list(table.columns)

['series_id        ',
 'area_code',
 'item_code',
 'series_title',
 'footnote_codes',
 'begin_year',
 'begin_period',
 'end_year',
 'end_period']

In [93]:
cursor = conn.cursor()

results_df = pd.read_sql( '''SELECT a.series_title, a.begin_year, a.end_year, b.item_name, c.value AS current_value
          FROM Series_Data AS a
          INNER JOIN Items_Data AS b
          ON a.item_code = b.item_code
          INNER JOIN Current_Data_Zero AS c
          ON a.series_id = c.series_id
          WHERE a.begin_year > 2011 AND b.item_name LIKE 'Gasoline%'
          ORDER BY a.begin_year DESC;''', conn)

#results_df2 = results_df.drop_duplicates('series_title').head()

In [95]:
results_df.to_csv('gasolinecurrentvalue2.csv', index = False)